<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Amazonidades</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link {{ pontuacao|default('') }}" href="{{ path('app_home') }}">Pontuação</a>
            <a class="nav-link {{ clas|default('') }}" href="{{ path('app_clas') }}">Clãs</a>
            <!--<a class="nav-link" href="#">Campanhas anteriores</a>-->
        </nav>
    </div>
</header>